.section1{
    background-image: url(/assets/backgrounds/h_img.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: white;
    color: rgb(242, 245, 247);
}
.Description{
    height: 100vh;
    background-size: cover;
    text-align: center;
    text-decoration: rgb(253, 243, 229);
}
.S2{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(243, 239, 239);
    text-align: center;
    justify-content: center;
}
.About us{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(241, 238, 238);
    text-align: center;
    justify-content: center;
}
.S3{
    background-image: url(/assets/backgrounds/s_image.jpg);
    height: 55vh;
    background-repeat: no-repeat;
    background-position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: rgb(243, 247, 247);
    color: aliceblue;

}
.container-fluid {
    height: 50vh;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center; 
}
.footer{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.mouseclick{
    height: 30vh;
}