.section1{
    background-image: url("https://raw.githubusercontent.com/dianakwamboka/studioDL/master/assets/backgrounds/h_img.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    color: white;
}
/* .Description{
    text-align: center;
    display: flex;
    justify-content: center; */

.S2{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(243, 239, 239);
    text-align: center;
    justify-content: center;
}
.About us{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(241, 238, 238);
    text-align: center;
    justify-content: center;
}
.S3{
    background-image: url("https://raw.githubusercontent.com/dianakwamboka/studioDL/master/assets/backgrounds/s_image.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: relative;
     text-align: center; 
    text-decoration: rgb(243, 247, 247);
    color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: center;


}
#chimp {
    background-image: url("https://raw.githubusercontent.com/dianakwamboka/studioDL/master/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center; 
}
.input{
    background-color: transparent;
}
textarea{
    background-color: transparent;
}
.footer{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.mouseclick{
    height: 30vh;
}
.hide{
    display: none;

}