.section1{
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    text-align:center;
    height: vh70;
    color: aliceblue;
}
.S2{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(243, 239, 239);
    text-align: center;
    justify-content: center;
}
.About us{
    background-color: rgb(250, 252, 253);
    text-decoration: rgb(241, 238, 238);
    text-align: center;
    justify-content: center;
}
.S3{
    background-image: url(/assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-position: relative;
    align-items: center;
    text-align: center;
    text-decoration: rgb(243, 247, 247);
    color: aliceblue;

}
#chimp {
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center; 
}
.
input{
    background-color: transparent;
}
textarea{
    background-color: transparent;
}
.footer{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.mouseclick{
    height: 30vh;
}
.hide{
    display: none;

}